@model WhatDo.Models.GetPreferencesViewModel
@{
    ViewBag.Title = "GetCuisinePreferences";
}

<div class="jumbotron">
    <h1>What kinds of food do you like?</h1>
</div>

@using (Html.BeginForm("GetCuisinePreferences","Enjoyer",FormMethod.Post))
{
    <div class="left">
        <h1>Cuisines List For Your Area:</h1>
    </div>
    <div>
        <table class="table-bordered" align="left" width="40">
            <tr>
                <th scope="col">Available Cuisines</th>
            </tr>
            @foreach (WhatDo.Models.Cuisine cuisine in Model.AvailableCuisines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => cuisine.Cuisine_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Add", "AddCuisinePreferences", new { cuisineNameToAdd = cuisine.Cuisine_Name, userId = Model.User.Id, cusineIdToAdd = cuisine.Cuisine_Id})
                    </td>
                </tr>
            }
        </table>
    </div>
      <div class="right">
        <table class="table" align="center" width="60">
            <tr>
                <th scope="col">Your Preferred Cuisines</th>
            </tr>
            @foreach (WhatDo.Models.UserToCuisine cuisine in Model.PreferredCuisines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => cuisine.CuisineName)
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveCuisinePreferences", new { cuisineNameToRemove = cuisine.CuisineName, userId = Model.User.Id, cuisineIdToRemove = cuisine.CuisineId })
                    </td>
                </tr>
            }
        </table>
    </div>
}


