@{
    ViewBag.Title = "Enjoyer Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">What do you want to do?</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>